html,
body {
  height: 100%;
  background-color: #333;
  /* background image */
  background-image: url(wallpaper-hourglass-nebula.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px
  }
}
