#table-home {
  font-size: 1rem;
  font-weight: bold;
  border: 3px solid white;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

h1 {
  color: #9bbcf2;
  text-shadow: 3px 2px #2a4c84;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.list {
  color: #9bbcf2;
  font-weight: bold;
  text-align: center;
  list-style-position: inside;
  ul {
      font-size: 26px;
  }
  ol {
      font-size: 18px;
  }
  @media (max-width: 768px) {
    ul {
        font-size: 22px;
    }
    ol {
        font-size: 16px;
    }
  }
}

%text0 {
    font-weight: lighter;
    text-align: center;
    padding-left: .5rem;
}

.text1 {
    @extend %text0;
    color: white;
    @media (max-width: 499px) {
        font-size: 14px;
    }
    @media (min-width: 500px) {
        font-size: 18px;
    }
}

.text2 {
  @extend %text0;
  color: #c6c9ce;
  font-size: 16px;
}

#textbig {
    @extend %text0;
    @media (max-width: 499px) {
        font-size: 18px;
    }
    @media (min-width: 500px) {
        font-size: 24px;
    }
    color: #9bbcf2;
    font-weight: bold;
    text-shadow: 2px 1px #2a4c84;
}
